
<div class="list">
  <% if @data %>
      <% @data.each do |book| %>
          <a href="<%=book.link%>" target=_blank>
            <div class="book">
              <img src="<%= book.image %>" class="book_image" alt="<%= book.title %> image"/>
              <div class="book_info">
                <h3><%= book.title %></h3>
                <p class="authors">
                  <span class="bold">Author(s):</span>
                    <% if book.authors %>
                      <% book.authors.each do |author| %>
                        <p class="author"><%= author %></p>
                      <% end %>
                    <% end %>
                </p>
                <p><span class="bold">Publisher:</span> <%= book.publisher %></p>
              </div>
            </div>
          </a>
      <% end %>
  <% else %>
      <div class="search_placeholder">
        <img src="https://pngimage.net/wp-content/uploads/2018/05/books-cartoon-png-1.png" class="placeholder_image" alt="bookstack"/>
        <p>No Results</p>
      </div>
  <% end %>
</div>
