<!DOCTYPE html>
<html>

  <head>
    <title>Bookworm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>

  <body>

    <!-- Banner & Search Form -->
    <header class="jumbotron">
      <h1 class="title display-4"><%= link_to "Bookworm", root_path %></h1>
      <img class="header-image" src="http://worldartsme.com/images/cute-bookworm-clipart-1.jpg" alt="bookworm"/>
      <div class="search_box">
        <%= form_tag(root_path, method: "get") do %>
          <%= select_tag(:search, options_for_select([["keyword",""], ["title", "intitle:"], ["author", "inauthor:"], ["publisher", "inpublisher:"], ["subject", "subject:"], ["isbn", "isbn:"], ["lccn", "lccn:"], ["oclc", "oclc:"]])) %>
          <%= text_field_tag :q, params[:q], pattern: "^[a-zA-Z0-9 ]*$", placeholder:"What can I help you find today?", required: true %>
          <%= submit_tag("Search", name: nil, class:"success button") %>
        <% end %>
      </div>
    </header>

    <!-- Search Results -->
    <div class="list">
      <% if @data %>
          <% @data.each do |book| %>
              <!-- link to book details -->
              <a href="<%=book.link%>" target=_blank>
                <div class="book">
                  <%= book_image(book.image, book.title) %>
                  <div class="book_info">
                    <!-- Title Field -->
                    <%= book_info(book.title, "h3") %>
                    <!-- Author Field -->
                    <div class="authors">
                      <span class="bold">Author(s):</span>
                      <%= book_authors(book.authors) %>
                    </div>
                    <!-- Publisher Field -->
                    <p>
                      <span class="bold">Publisher:</span>
                      <%= book_info(book.publisher, "span") %>
                    </p>
                  </div>
                </div>
              </a>
          <% end %>

      <!-- placeholder image of there are no search results  -->
      <% else %>
          <div class="search_placeholder">
            <img src="https://pngimage.net/wp-content/uploads/2018/05/books-cartoon-png-1.png" class="placeholder_image" alt="bookstack"/>
            <p>No Results</p>
          </div>
      <% end %>

    </div>

    <footer>
      <p id="copyright">&copy Jessica Chung 2019</p>
    </footer>

  </body>

</html>
