<!DOCTYPE html>
<html>
  <head>
    <title>Bookworm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 id="title"><%= link_to "Bookworm", root_path %></h1>
    </header>
    <%= yield %>
  </body>
</html>
