<!DOCTYPE html>
<html>
  <head>
    <title>Bookworm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
  </head>

  <body>
    <header class="jumbotron">
      <h1 class="title display-4"><%= link_to "Bookworm", root_path %></h1>
      <div class="search_box">
        <%= form_tag(root_path, method: "get") do %>
          <%= text_field_tag(:q, nil, placeholder:"search for your book!")%>
          <%= submit_tag("Search", name: nil, class:"success button") %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
